name: PC_Gamer_Roblox_Tmate
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: 1_Configurar_Acceso
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          
      - name: 2_Lanzar_Consola_Estable
        uses: mxschmitt/action-tmate@v3
        with:
          limit-access-to-actor: false
          
