name: Roblox_VM_2026
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Instalacion_Forzada
        run: |
          # Descarga AnyDesk directo
          Invoke-WebRequest -Uri "https://download.anydesk.com/AnyDesk.exe" -OutFile "AnyDesk.exe"
          
          # Lo abrimos en modo 'instalación silenciosa' para que no pida permisos
          Start-Process -FilePath ".\AnyDesk.exe" -ArgumentList "--install C:\AnyDesk --start-with-win --silent" -Wait
          
          # Configuramos la contraseña directamente en el ejecutable instalado
          & "C:\AnyDesk\AnyDesk.exe" --set-password "RobloxVM2026"
          
      - name: Obtener_ID
        run: |
          # Esperamos a que el servicio arranque bien
          Start-Sleep -Seconds 10
          & "C:\AnyDesk\AnyDesk.exe" --get-id
          
      - name: Mantener_Viva
        run: Start-Sleep -Seconds 21600
        
