name: Roblox_VM_2026
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Instalacion
        run: |
          choco install anydesk mesa3d-software-renderer -y
          & "C:\Program Files (x86)\AnyDesk\AnyDesk.exe" --set-password "RobloxVM2026"
      - name: ID
        run: '& "C:\Program Files (x86)\AnyDesk\AnyDesk.exe" --get-id'
      - name: Mantener_Encendido
        run: Start-Sleep -Seconds 21600
        
