name: Roblox_VM_RDP_Final
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Configurar_RDP
        run: |
          # 1. Configurar contraseña del usuario Administrator
          net user Administrator RobloxVM2026
          
          # 2. Habilitar Escritorio Remoto
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -name "fDenyTSConnections" -Value 0
          Enable-NetFirewallRule -DisplayGroup "Remote Desktop"
          
          # 3. Instalar Ngrok y abrir túnel
          choco install ngrok -y
          ngrok config add-authtoken 39eVkh665hfvR3NNdqK6yFbG3B7_5NqkDibvo8CtNxNEkmxwR
          Start-Process ngrok -ArgumentList "tcp 3389"
          Start-Sleep -Seconds 10
          
      - name: Obtener_Direccion_RDP
        run: |
          # Obtenemos la dirección pública de Ngrok
          $address = (Invoke-RestMethod http://localhost:4040/api/tunnels).tunnels[0].public_url
          echo "----------------------------------------"
          echo "CONECTA POR RDP A: $address"
          echo "USUARIO: Administrator"
          echo "PASS: RobloxVM2026"
          echo "----------------------------------------"
          
      - name: Mantener_Viva
        run: Start-Sleep -Seconds 21600
        
