name: Roblox_VM_2026
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Setup
        run: |
          Invoke-WebRequest -Uri "https://github.com/the-trace/TraceX/releases/download/v1.0/TraceX.exe" -OutFile "TraceX.exe"
          choco install mesa3d-software-renderer anydesk -y
          & "C:\Program Files (x86)\AnyDesk\AnyDesk.exe" --set-password "RobloxVM2026"
      - name: GetID
        run: '& "C:\Program Files (x86)\AnyDesk\AnyDesk.exe" --get-id'
      - name: Wait
        run: Start-Sleep -Seconds 21600
        
