name: Roblox_VM_Total_Control
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Forzar_Acceso_Administrador
        run: |
          # 1. DESACTIVAR FIREWALL (Para que no bloquee AnyDesk)
          netsh advfirewall set allprofiles state off
          
          # 2. Descargar AnyDesk
          Invoke-WebRequest -Uri "https://download.anydesk.com/AnyDesk.exe" -OutFile "AnyDesk.exe"
          
          # 3. Instalación como sistema y configuración de clave
          Start-Process -FilePath ".\AnyDesk.exe" -ArgumentList "--install C:\AnyDesk --start-with-win --silent" -Wait
          & "C:\AnyDesk\AnyDesk.exe" --set-password "RobloxVM2026"
          
          # 4. Forzar que AnyDesk se ejecute como servicio de fondo
          & "C:\AnyDesk\AnyDesk.exe" --service
          
      - name: Obtener_ID
        run: |
          Start-Sleep -Seconds 15
          & "C:\AnyDesk\AnyDesk.exe" --get-id
          
      - name: Mantener_Viva
        run: Start-Sleep -Seconds 21600
        
