name: Roblox_VM_Final_Fuerza
on: workflow_dispatch
jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Configurar_Acceso_Total
        run: |
          # 1. Instalar Ngrok con tu Token
          choco install ngrok -y
          ngrok config add-authtoken 39eVkh665hfvR3NNdqK6yFbG3B7_5NqkDibvo8CtNxNEkmxwR
          
          # 2. Descargar AnyDesk y desactivar Firewall
          netsh advfirewall set allprofiles state off
          Invoke-WebRequest -Uri "https://download.anydesk.com/AnyDesk.exe" -OutFile "AnyDesk.exe"
          
          # 3. Iniciar AnyDesk con contraseña forzada
          Start-Process -FilePath ".\AnyDesk.exe" -ArgumentList "--set-password RobloxVM2026"
          
      - name: Obtener_ID
        run: |
          Start-Sleep -Seconds 15
          ./AnyDesk.exe --get-id
          
      - name: Mantener_Viva
        run: |
          Write-Host "Si no conecta al primer intento, cierra AnyDesk en el móvil y reintenta."
          Start-Sleep -Seconds 21600
          
