name: PC_GAMER_AUTO_ROBLOX
on: workflow_dispatch

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: 1_Configurar_PC_y_Usuario
        run: |
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server' -Name "fDenyTSConnections" -Value 0 -Force
          Set-ItemProperty -Path 'HKLM:\System\CurrentControlSet\Control\Terminal Server\WinStations\RDP-Tcp' -Name "UserAuthentication" -Value 0 -Force
          net user RDP RobloxVM2026 /add
          net localgroup Administrators RDP /add
          
      - name: 2_Instalar_Graficos_Automatico
        run: |
          # Descargamos y ponemos el archivo opengl32.dll en el sistema para que todo abra
          Invoke-WebRequest -Uri "https://github.com/pal1000/mesa-dist-win/releases/download/23.1.1/mesa3d-23.1.1-release-msvc.7z" -OutFile "mesa.7z"
          arch -x mesa.7z -o "C:\Mesa3D"
          # Copiamos el archivo que viste en tu foto a la carpeta del sistema
          Copy-Item "C:\Mesa3D\x64\opengl32.dll" -Destination "C:\Windows\System32\opengl32.dll" -Force
          
      - name: 3_Descargar_Roblox_Listo
        run: |
          # Dejamos el instalador en el escritorio listo para ti
          Invoke-WebRequest -Uri "https://setup.rbxcdn.com/RobloxPlayerLauncher.exe" -OutFile "C:\Users\RDP\Desktop\Instalar_Roblox.exe"
          
      - name: 4_Conectar_Tailscale
        run: |
          $tsUrl = "https://pkgs.tailscale.com/stable/tailscale-setup-1.82.0-amd64.msi"
          Invoke-WebRequest -Uri $tsUrl -OutFile "ts.msi"
          Start-Process msiexec.exe -ArgumentList "/i", "ts.msi", "/quiet", "/norestart" -Wait
          & "$env:ProgramFiles\Tailscale\tailscale.exe" up --authkey=${{ secrets.TAILSCALE_AUTH_KEY }} --hostname=gh-roblox-pc
          $tsIP = & "$env:ProgramFiles\Tailscale\tailscale.exe" ip -4
          echo "TU_IP=$tsIP"
          
      - name: 5_Mantener_Viva
        run: Start-Sleep -Seconds 21600
        
